@charset "utf-8";
html {
    text-rendering: optimizeLegibility !important;
}
body {
    font-family: "Noto Sans JP","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","Hiragino Kaku Gothic Pro","Hiragino Sans","メイリオ", "Meiryo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #000;
    background: #fff;

    text-rendering: optimizeLegibility;
}
.pc {
    display: block;
}
.sp {
    display: none;
}
.tel {
    pointer-events: none;
}
@media screen and (max-width: 768px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .tel {
        pointer-events: auto;
    }
}
.font-normal {
    font-weight: normal !important;
}
/* font-weight */
.font-bold {
    font-weight: bold !important;
}
/* background color */
.bg-green {
    background: #008135;
}
.bg-green-light {
    background: #F2F9F5;
}
.bg-yello-light {
    background: #FFF3C8;
}
/* color style */
.col-green {
    color: #008135 !important;
}
.col-white {
    color: #fff !important;
}
.col-black {
    color: #000 !important;
}
.col-red {
    color: #f00 !important;
}
/* text align */
.txt-left {
    text-align: left !important;
}
.txt-center {
    text-align: center !important;
}
.txt-right {
    text-align: right !important;
}
.text-link {
    display: inline-block;
    text-decoration: underline !important;
}
.mb0{
    margin-bottom: 0 !important;
}
.mb30 {
    margin-bottom: 30px !important;
}
/* Main title */
.sec-ttl {
    font-size: 40px;
    margin-bottom: 30px;
}
/* Arrow List Common */
.arrowList ul {
    justify-content: space-between;
}
.arrowList ul li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom:1px solid #008135;
}
.arrowList ul li .arrow-ls {
    width: 100%;
    position: relative;
    padding: 20px 40px 20px 20px;
}
.arrowList ul li .arrow-ls:after {
    content: '\2192';
    position: absolute;
    right: 10px;
    top: 47%;
    display: block;
    font-size: 30px;
    transform: translateY(-50%);
    color: #008135;
}
@media screen and (max-width: 768px) {
    .sec-ttl {
        font-size: 30px;
        margin-bottom: 20px;
    }
    /* Arrow List Common */
    .arrowList ul li .arrow-ls {
        font-size: 15px;
        padding: 15px 40px 15px 15px;
    }
    .arrowList ul li .arrow-ls:after {
        font-size: 25px;
        right: 8px;
    }
}


