@charset "utf-8";
/* ===============================
Top
=============================== */
/* About Block */
.top-about {
    position: relative;
    padding: 0;
}
.top-about:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 46%;
    background: #008135;
    z-index: 1;
}
.top-aboutIn {
    position: relative;
    padding: 80px 0;
}
.top-aboutIn:before {
    content: '';
    display: block;
    position: absolute;
    top: 29%;
    width: 100%;
    height: 30%;
    transform: skewY(-6deg);
    background: #A5FFCA;
}
.top-aboutIn:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 33%;
    height: 30%;
    transform: skewY(-6deg);
    background: #008135;
}
.top-about .c-w1100 {
    position: relative;
    z-index: 2;
}
.aboutInfo-in {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 3px 19px rgb(200 200 200);
    -moz-box-shadow: 0 3px 19px rgb(200 200 200);
    box-shadow: 0 3px 19px rgb(200 200 200);
    border: 1px solid #008135;
}
.about-message {
    margin-top: 70px;
    letter-spacing: 1.5px;
}
.aboutInfoLeft {
    width: 52%;
    position: relative;
    padding: 0 40px;
    float: left;
}
.aboutInfoRight {
    width: 43%;
    float: right;
}
.aboutInfoLeft:before,
.aboutInfoLeft:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 37px;
    height: 51px;
}
.aboutInfoLeft:before {
    left: 0;
    background: url('../img/common/quoteleft.png') no-repeat;
}
.aboutInfoLeft:after {
    top: 20px;
    right:0;
    background: url('../img/common/quoteright.png') no-repeat;
}
.about-message p {
    margin-top:20px;
}
.about-message01 {
    text-align: right;
}
/* Service Block */
.top-service .arrowList ul li {
    width: 48%;
}
.top-service .arrowList ul li:nth-child(1),
.top-service .arrowList ul li:nth-child(2){
    border-top:1px solid #008135;
}
/* Recruit Block */
.top-recruit {
    color: #fff;
    padding: 0;
}
.top-recruitBg {
    background: url('../img/common/recruit_bg.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 80px 0;
    background-position: center center;
}
.recruitDesp .boxLeft,
.recruitDesp .boxRight {
    height: 100%;
}
.recruitDesp .boxRight {
    margin-top: auto;
}
.recruitDesp .boxRight .arrowList {
    width: 70%;
    float: right;
}
.recruitDesp .arrowList ul li {
    border-bottom:1px solid #fff;
}
.recruitDesp .arrowList ul li:first-child {
    border-top:1px solid #fff;
}
.recruitDesp .arrowList ul li .arrow-ls,
.recruitDesp .arrowList ul li .arrow-ls:after {
    color: #fff;
}
.recText {
    width: 85%;
}
.recText p {
    margin-bottom: 20px;
    line-height: 2;
    letter-spacing: 2px;
}
.recText p:last-child {
    margin-bottom: 0;
}
/* News Block */
.newsBlock {
    position: relative;
    z-index: 1;
}
.newsBlock ul {
    margin-bottom: 30px;
}
.newsBlock ul li {
    border-bottom: 1px dashed #008135;
}
.newsBlock ul li .newsLink {
    position: relative;
    padding: 20px 40px;
    display: flex;
    align-items: flex-start;
}
.newsBlock ul li .newsLink:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    background: url('../img/common/news_circled.png') no-repeat;
    transform: translateY(-50%);
}
.newsBlock ul li .newsDate {
    width: 110px;
    text-align: center;
}
.newsBlock ul li .newsTtl {
    width: calc(100% - 120px);
    padding: 0 20px 0 5%;
}