@charset 'UTF-8';

/* Slider */
.slick-loading .slick-list {
    /* background: #fff url('./ajax-loader.gif') center center no-repeat; */
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    /* src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg'); */
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.slick-slide,
.slick-slide::before,
.caption {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slick-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-wide-slider {
    position: relative;
    width: 100%;
    height: 50vw;
    min-height: 8vw;
    margin-bottom: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 1.2s ease;
}

.full-wide-slider.slick-initialized {
    opacity: 1;
    visibility: visible;
}

.slick-slide {
    position: relative;
    height: 50vw;
}

.slick-slide::before {
    background-color: #000;
    opacity: 0.3;
    z-index: 1;
}

.slick-slide video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

.slick-slide iframe {
    position: relative;
    pointer-events: none;
}

.slick-slide figure {
    position: relative;
    height: 100%;
}

.slick-slide .slide-image {
    opacity: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.8s ease;
}

.slick-slide .slide-image.show {
    opacity: 1;
}

.slick-slide .image-entity {
    width: 100%;
    height: auto;
    opacity: 0;
}
.slick-slide .slide-media {
    /* animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1); */
    -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.slick-slide.slick-active {
    z-index: 1;
}

.slick-slide.slick-active .slide-media {
    /* animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1); */
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation: cssAnimation 8s 1 ease-in-out forwards;
    animation: cssAnimation 8s 1 ease-in-out forwards;
}

.slick-slide.slick-active .caption {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}
.slick-dots {
    text-align: center;
    padding-top: 15px;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}

.slick-dots li button {
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 0 transparent;
    vertical-align: middle;
    color: #fff;
    background-color: #fff;
    transition: all 0.3s ease;
    opacity: 0.4;
}

.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover {
    opacity: 1;
}

.slick-dots li.slick-active button {
    border-color: #2d3042;
    box-shadow: 0 0 0 2px #fff;
    opacity: 1;
}
@keyframes slideIn {
    from {
        filter: blur(15px);
    }

    to {
        filter: blur(0);
    }
}

@keyframes slideOut {
    from {
        filter: blur(0);
    }

    to {
        filter: blur(15px);
    }
}
.main-mv {
    position: relative;
    /* height: 100vh; */
}
.slick-slide img {
    display: block;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.full-wide-slider .slick-slide:before {
    opacity: 1;
    background: transparent !important;
}
.full-wide-slider .slick-active img {
  
  }
  
@keyframes cssAnimation {
from {
    -webkit-transform: scale(1) translate(0px);
}
to {
    -webkit-transform: scale(1.3) translate(0px);
}
}
@-webkit-keyframes cssAnimation {
from {
    -webkit-transform: scale(1) translate(0px);
}
to {
    -webkit-transform: scale(1.3) translate(0px);
}
}
.mv-scroll {
    position: absolute;
    bottom: 80px;
    right: 20px;
}
.mv-scroll a {
    position: relative;
}
.mv-scroll a:before {
    content: '';
    position: absolute;
    bottom: 15%;
    left: 27%;
    width: 25px;
    height: 25px;
    background: url('../img/top/scroll_circle.png') no-repeat;
    animation: scrollCircle .5s ease infinite alternate;
}
@keyframes scrollCircle {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}
@media screen and (max-width: 768px) {
    .full-wide-slider {
        margin-top: 70px;
        height: auto;
    }
    .slick-slide {
        height: 56vw;
    }
    .full-wide-slider .slick-slide video {
        width: 100%;
        height: auto;
    }
    /* Main Slider */
    .slick-slide img {
        height: auto;
    }
    .mv-scroll {
        position: absolute;
        bottom: 0;
        right: 0px;
    }
    .mv-scroll a:before {
        width: 18px;
        height: 18px;
        background: url(../img/top/scroll_circle.png) no-repeat;
        background-size: 18px;
    }
    .mv-scroll a img {
        width: 35px;
    }
}