@charset "utf-8";
/* ===============================
Top
=============================== */
@media screen and (min-width: 769px) and (max-width: 900px){
    /* Recruit Block */
    .recruitDesp .boxLeft, .recruitDesp .boxRight {
        width: 100%;
    }
    .recText {
        width: 100%;
        margin-bottom: 20px;
    }
    .recruitDesp .boxRight .arrowList {
        width: 45%;
    }
}
@media screen and (max-width: 768px) {
    /* About Block */
    .top-aboutIn {
        padding: 50px 0;
    }
    .top-aboutIn:before {
        top: 25%;
        transform: skewY(-17deg);
    }
    .top-aboutIn:after {
        top: 31%;
        height: calc(100% - 50%);
        transform: skewY(-17deg);
        background: #008135;
    }
    .aboutInfo-in {
        background: none;
        padding: 0;
        box-shadow: none;
        border: 0;
    }
    .aboutInfoLeft {
        width: 100%;
        min-height: 470px;
        float: none;
        background: #fff;
        padding: 20px;
        justify-content: space-between;
        -webkit-box-shadow: 0 3px 19px rgb(200 200 200);
        -moz-box-shadow: 0 3px 19px rgb(200 200 200);
        box-shadow: 0 3px 19px rgb(200 200 200);
        border: 1px solid #008135;
    }
    .aboutInfoLeft:before {
        top: 8px;
        left: 8px;
        background: url(../img/common/quoteleft.png) no-repeat;
        background-size: 65%;
    }
    .aboutInfoLeft:after {
        top: 13px;
        right: calc(100% - 54%);
        background: url(../img/common/quoteright.png) no-repeat;
        background-size: 65%;
    }
    .aboutInfoRight {
        width: 100%;
        float: none;
    }
    .about-message {
        margin-top: 20px;
        letter-spacing: 1px;
    }
    .about-message p {
        margin-top: 15px;
        font-size: 14px;
    }
    .about-img {
        width: 50%;
        float: right;
    }
    .about-img img {
        width: 93%;
        margin: 0 0 1% 5%;
    }
    /* Recruit Block */
    .recruitDesp .boxLeft, .recruitDesp .boxRight {
        width: 100%;
    }
    .recText {
        width: 100%;
        margin-bottom: 20px;
    }
    .recText p {
        font-size: 15px;
    }
    .recruitDesp .boxRight .arrowList {
        width: 100%;
    }
    /* News Block */
    .newsBlock ul li .newsLink {
        display: block;
        padding: 15px 20px 15px 40px;
    }
    .newsBlock ul li .newsLink:before {
        top: 15px;
        transform: translateY(0%);
    }
    .newsBlock ul li .newsDate{
        width: 100%;
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }
    .newsBlock ul li .newsTtl{
        width: 100%;
        padding: 0;
    }
    /* ===============================
    Aboutus Page
    =============================== */
    .overviewBlock table tr th,.overviewBlock table tr td {
        width: 100%;
        display: block;
    }
    .overviewBlock table tr th {
        padding-bottom: 10px;
    }
    .overviewBlock table tr td {
        width: 100%;
        padding: 0 0 20px 0;
    }
    /* ===============================
    Contact Page
    =============================== */
    .contact-page .form-block {
        padding: 50px 20px;
    }
    /* ===============================
    Recruit Page
    =============================== */
    /* tabs block */
    .tabs-ls {
        padding: 0;
        justify-content: space-between;
    }
    .tabs-ls .col2 {
        width: 49%;
    }
    .tabs-btn {
        height: 70px;
        padding: 10px 0px;
        font-size: 13px;
        margin-bottom: 40px;
    }
    .tabs li.active a .tabs-btn:after {
        font-size: 40px;
        bottom: -38px;
    }
}
@media screen and (max-width: 640px) {
    /* Service Block */
    .top-service .arrowList ul li {
        width: 100%;
    }
    .top-service .arrowList ul li:nth-child(2) {
        border-top: 0px;
    }    
}
@media screen and (min-width: 481px) and (max-width: 640px) {

}

@media screen and (max-width: 375px) {
    
}