@charset "utf-8";
/* ===============================
Top
=============================== */
@media screen and (min-width: 769px) and (max-width: 900px){
    /* Recruit Block */
    .recruitDesp .boxLeft, .recruitDesp .boxRight {
        width: 100%;
    }
    .recText {
        width: 100%;
        margin-bottom: 20px;
    }
    .recruitDesp .boxRight .arrowList {
        width: 45%;
    }
}
@media screen and (max-width: 768px) {
    
    /* Recruit Block */
    .recruitDesp .boxLeft, .recruitDesp .boxRight {
        width: 100%;
    }
    .recText {
        width: 100%;
        margin-bottom: 20px;
    }
    .recText p {
        font-size: 15px;
    }
    .recruitDesp .boxRight .arrowList {
        width: 100%;
    }
    /* News Block */
    .newsBlock ul li .newsLink {
        display: block;
        padding: 15px 20px 15px 40px;
    }
    .newsBlock ul li .newsLink:before {
        top: 15px;
        transform: translateY(0%);
    }
    .newsBlock ul li .newsDate{
        width: 100%;
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }
    .newsBlock ul li .newsTtl{
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 640px) {
    /* Service Block */
    .top-service .arrowList ul li {
        width: 100%;
    }
    .top-service .arrowList ul li:nth-child(2) {
        border-top: 0px;
    }    
}
@media screen and (min-width: 481px) and (max-width: 640px) {

}

@media screen and (max-width: 375px) {
    
}